--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.8.0+cu128
torchaudio==2.8.0+cu128
torchvision==0.23.0+cu128
nemo_toolkit[asr]==3.0.0
faster-whisper
pyannote.audio==4.0.3
matplotlib
streamlit
python-dotenv
requests
